
a, a:link, a:visited {
  color: #1a73e8 !important;  
  text-decoration: none;       
  background-color: transparent;
}

a:hover {
  color: #1557b0 !important;   
  text-decoration: underline;  
}

a:active {
  color: #1557b0 !important;   
}

   header{
        background-color: purple;
        padding: 1em;
        color: white;
        text-align: center;
        font-size: 14px;
    }
    footer{
         background-color: purple;
        padding: 1em;
        color: white;
        text-align: center;
    }
    table{
        width: 100%;
        border-collapse: collapse;
    }
    thead{
        background-color: yellow;
        color: black;
        font-size: 1.2em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    th, td{
        border: 1px solid white;
        padding: 8px;
        text-align: right;
    }

    .fdh{
        background-color: red;
        }
    